<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/62ed14d9f9.js" crossorigin="anonymous"></script>
  <title>Tic et Tac</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="/images/train.png" width="30" height="30" class="d-inline-block align-top" alt="">
     Ticketac
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav offset-md-9 d-flex justify-content-end">

          <%if(user.id != ""){%>

          <li class="nav-item active">
              <a class="nav-link" href="#">Welcome <%=user.firstname%></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/gobasket?userid=<%=user.id%>"><i class="fas fa-cart-plus"></i></a>
        </li>
     
          <li class="nav-item">
              <a class="nav-link" href="#">My last trips </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout </a>
            </li>
       
            <%}else{%>

            <li class="nav-item active">
              <a class="nav-link " href="/login">Login</a>
            </li>

            <%}%>
    
            </ul>  
    </div>      
  </nav>

  <div class="container-fluid">