<%- include('header'); %>
  
<div class="row">

    <div class="col-12 offset-lg-4 col-lg-4 text-center">
          <h4 class="sign d-flex justify-content-center">Oops ! No trains available... </h4>
          <a href="/"><button type="submit" class="btn btn-danger">Home</button></a>
    </div>
          
</div>

<%- include('footer'); %>          